/*   
Theme Name: Special
Theme URI: https://bitbucket.org/splun/
Version: 1.0
Description: Special template 
Author: A/Solomaha
Author URI: https://plus.google.com/u/0/118412234453024192274
*/


@font-face {
	font-family: 'Open Sans Bold';
	src: url('assets/fonts/OpenSans-Bold.eot');
	src: local('☺'), url('assets/fonts/OpenSans-Bold.woff') format('woff'), url('assets/fonts/OpenSans-Bold.ttf') format('truetype'), url('assets/fonts/OpenSans-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Semibold';
	src: url('assets/fonts/OpenSans-Semibold.eot');
	src: local('☺'), url('assets/fonts/OpenSans-Semibold.woff') format('woff'), url('assets/fonts/OpenSans-Semibold.ttf') format('truetype'), url('assets/fonts/OpenSans-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('assets/fonts/OpenSans.eot');
	src: local('☺'), url('assets/fonts/OpenSans.woff') format('woff'), url('assets/fonts/OpenSans.ttf') format('truetype'), url('assets/fonts/OpenSans.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px;
	color: #323232 !important;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-family: 'Open Sans Bold', sans-serif !important;
	font-size: 60px !important;
	text-transform: uppercase;
}

h2 {
	font-family: 'Open Sans Semibold', sans-serif !important;
	font-size: 40px !important;
	color: #8F8F8F !important;
	text-transform: uppercase;
}

h3 {
	font-family: 'Open Sans Bold', sans-serif !important;
	font-size: 35px !important;
	text-transform: uppercase;
}

h4 {
	font-family: 'Open Sans Bold', sans-serif !important;
	font-size: 16px !important;
	color: #073E6E !important;
	margin-top: 20px !important;
}
